header, body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(127, 161, 195);
    color: white;
}

main {
    text-align: center;
    padding-bottom: 50px;
}

nav {
    background-color: rgb(100, 130, 173);
}

#menu {
    display: inline-block;
    list-style-type: none;
    padding-inline-start: 0px;
    vertical-align: middle;
    width: 80%;
    height: 100%;
    padding: 20px;
}

#menu > a {
    display: inline-block;
    margin-right: 20px;
    height: 100%;
    width: 100px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    font-family: calibri;
    font-weight: bolder;
    color: white;
}

#menu > a:hover {
    color: rgb(54, 66, 77);
}

#logo {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 80px;
    height: 60px;
}

footer {
    color: rgb(0, 0, 0);
    background-color: rgb(226, 218, 214);
    padding: 15px;
    text-align: center;
}

footer > p {
    font-size: 18px;
    margin: 5px auto 5px auto;
    color: rgb(102, 102, 102);
}

ul {
    list-style-position: inside;
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 5px;
    background-color: rgb(114, 143, 171);
    padding: 15px;
    border-radius: 5px;
}

li {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 21px;
}

h2 {
    font-family: Impact;
    font-weight: normal;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
}

p {
    width: 50%;
    margin: auto;
    font-family: calibri;
    font-size: 23px;
}

span {
    text-decoration: underline;
}

#classroom {
    width: 100%;
}